*{
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
}

div {
    display: block;
}

body{
    min-height: 560px;
    flex-direction: column;
    font-weight: bold;
    text-align: center; 
    display: block;
    position:absolute;
    height:570px; 
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
}


label{
    color: #405c60;
    position: relative;
  }

.content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;   
  }


#area
{
  position:absolute;
  left:35%;
  top:55%;
  height:570px;
}


fieldset{
    display: inline-flex;
    margin-inline-start: 0px; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 4px;
    padding: 10px;    
    border: 1px solid #b2b2b2;
   
}


.botao {
    width: 100%!important;
  cursor: pointer;  
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
  
  
}

input{
  color: #bebcbc;
  font-style: italic;
} 
input {
  outline: none;
}

input:not([type="checkbox"]){
  width: 95%;
  margin-top: 1px;
  padding: 10px;  
  border: 1px solid #b2b2b2;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: rgb(8, 173, 218);
}